* {
    background-color: rgb(233, 154, 154);
    box-sizing: border-box;
    margin: 10px 50px;
}


h1, h2 {
    color: maroon;
    text-align: center;
    font-size: 50px;
}

h1 {
    font-size: 50px;
}
h2 {
    font-size: 35px;
}

.img {
    text-align: center;
}
p {
    font-size: 20px;
}

.recipe-list {
    display: inline-block;
    
    font-size: 25px;
    background-color: rgb(180, 67, 67);
    padding: 10px;
    border: 2px solid maroon;
    margin: 5px auto;
}

.directions {
    font-size: 20px;
    color: pink;
    background-color: rgb(180, 67, 67);
    padding: 10px 10px;
    border: 2px solid maroon;
    margin: 5px 5px;
}

.end-text {
    text-align: center;
}